::ng-deep .ngx-datatable.bootstrap .datatable-body-row {
  margin-bottom: 10px;
  border-bottom: 1px solid #f1f3f5;
}

::ng-deep .ngx-datatable.bootstrap .datatable-body-cell {
  padding-top: 14px;
  padding-bottom: 14px;
}